#map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1; }

.pageTitle {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFF;
  font-size: 40px;
  font-weight: 600; }

.searchBarBox, .ageFilterBox {
  position: absolute;
  z-index: 2;
  top: 20px; }

.searchBarBox {
  left: 20px; }

.ageFilterBox {
  left: 100%;
  margin-left: -170px; }

/*# sourceMappingURL=application.css.map */
